@import '../../styles/content.scss';

.wrapper{
    overflow: hidden;
    .container{
        position: relative;
        z-index: 1;
        .heroSection{
            justify-content: space-between;
            .leftSection{
                @media (max-width:$sm) {
                    display: block;
                    justify-content: center;
                    
                }
                
            }
        }
    }
}