.sidebar {
    display: flex;
    
    width: 300px;
    height: 50vh;
    overflow-y: auto;
    background-color: #f1f1f1;
    z-index: 100;
  }
  
  .sidebar-content {
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust the height as needed */
  }
  
  .sidebar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .sidebar-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #888;
    margin-bottom: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .sidebar-icons a:hover {
    background-color: #ddd;
    color: #333;
  }
  .sidebar-container {
    overflow-y: auto;
    max-height: 100vh;
    width: 200px;
    float: left;
  }
  
  .content-container {
    overflow-y: auto;
    max-height: 100vh;
    margin-left: 200px; /* Adjust the margin to accommodate the sidebar width */
  }
  
  /* #portfolio {
    margin-bottom: 20px;
    padding: 20px;
  }
   */